body {
    background-color: rgb(204, 204, 158);
}
.calc_simples {
    background-color: rgb(75, 100, 70);
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}
.display_simples {
   background-color: transparent;
   width: 100%;
   text-align: center;
}
#resultado {
    background-color: rgb(58, 58, 58);
    color: rgb(231, 189, 189);
}
.btn {
    text-align: center;
    padding: 5px;
    font-size: 22px;
}
button {
   width: 40px;
   height: 40px;
   padding: 2px;
   color: white;
   background-color: black;
   margin-top: 2px;
}
#igual {
    background-color: rgb(78, 39, 39);
    color: rgb(155, 138, 138);
}